@media (max-device-width: 600px){
    body{
        transform: scale(2);
        position: absolute;
        left:0;
    }

}

body{
    color:#1F1F36;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y:auto;
    overflow-x: hidden;
    
}

.port{
    height:95%;
    position: absolute;
    top:0;
}

.fancy-table{
    width:100%;
    text-align: left;
}

.fancy-table td{
    border-left:2px solid #6c7776;
    padding: 10px;
    margin-bottom:10px;
    width:50%;
}

.fancy-table th{
    font-size: 1.2em;
}

a{
    color:#8b5454;
}

a:visited{
    color:#8b5454;
}

a:active{
    color:#f5a5a5;
}

a:hover{
    color:#af8888;
}

summary {
    font-size:1.5em;
}

.l{
    height:100%;
    width:190px;
    display: block;
    padding:10px;
    padding-right: 20px;
    border-right: 3px #ffe6e6 solid;
}

.r{
    height: 100%;
    max-width: 475px;
    min-width: 350px;
    padding-right: 30px;
}

.option a{
    font-size:1.2em;
    font-weight: 100;
    display: block;
    padding-bottom:5px;
}


.secret:not(:target){
    opacity:0;
    height:0;
    visibility: hidden;
    width:100%;
    margin-left: 0px;
    transition: opacity .5s ease-in;
    overflow: hidden;
}

.secret:target{
    opacity:1;
    height:100%;
    margin-left:20px;
    visibility: visible;    
    width:100%;
}

.secret{
    text-align: justify;
}

.secret iframe, .secret img{
    float:right;
    margin-left:20px;
    margin-bottom:20px;
}



.pdf{
    padding-top:20px;
}

.big{
    font-size:2em;
    font-weight: bold;
    text-align:left;
    margin-top:28px;
}

.sm{
    font-size:.9em;
    color:#6c7776;
  }